body > .container {
	padding: 0;
	margin: 0 auto;
}

.row > .col-sm {
	padding: 0;
}

.wrapper {
	box-shadow: 0 5px 5px 0 rgba(0,0,0,0.5);
}

.wrapper > .navbar {
	background: url('../images/real_cf_@2X.png') repeat;
	color: deepskyblue;
	margin: 0 0 1.5rem;
}

.navbar > .navbar-brand {
	color: deepskyblue;
	font-size: 2rem;
	font-weight: bolder;
}

.navbar-collapse {
	justify-content: flex-end;
}

.navbar-nav > a.nav-item {
	color: rgba(204, 204, 204, 1);
	font-size: 1.25rem;
}

.navbar-nav > a:hover,
.navbar-nav > a:active {
	color:deepskyblue;
	text-decoration-line: underline;
}

.navbar > .navbar-toggler {
	border: 1px solid deepskyblue;
}

.navbar-toggler > .fa-bars {
	height: 100%;
	color: deepskyblue;
}

.content {
	border: 1px solid lightgray;
	padding: 1rem;
	overflow: auto;
}

.content > h1 {
	border-bottom: 1px solid lightgray;
	color: deepskyblue;
	font-size: 1.5rem;
	padding: 0 0 1rem;
	margin: 0 0 1rem;
}

.content > p {
	line-height: 2rem;
}

.imgBox {
	max-width: 40%;
	height: auto;
}

img {
	margin: 0 1rem 0 0;
}

.wrapper > footer {
	background: url('../images/real_cf_@2X.png') repeat;
	color: rgba(204, 204, 204, 1);
	font-size: 0.75rem;
	font-weight: bold;
	margin: 1rem 0 0;
	padding: 1rem;
	text-align: center;
}

.content > .cardBox {
	display: flex;
	flex-wrap: wrap;
}

.cardBox > .card {
	box-shadow: 0 3px 5px 0 rgba(0,0,0,0.5);
	margin: 1rem;
	width: 100%;
}

.card > .card-img-top {
	width: 100%;
	margin: 0;
}

@media (min-width: 992px) {
	.navbar-nav > a:nth-child(1),
	.navbar-nav > a:nth-child(2) {
		border-right: 1px solid rgba(204, 204, 204, 1);
	}

	.navbar-nav > a.nav-item.nav-link {
		padding: 0 1rem;
	}

	.cardBox > .card {
		width: 46%;
	}
}